Travabot.json
[{"id":"1a775415.c7c17c","type":"inject","z":"c5a2da5.9ef2b28","name":"Teste","props":[{"p":"temperatura","v":"9","vt":"num"},{"p":"maquina","v":"Extrusora","vt":"str"},{"p":"umidade","v":"120","vt":"str"},{"p":"ID","v":"1","vt":"num"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"sensor","payloadType":"str","x":530,"y":220,"wires":[["769eb333.e18f2c"]]},{"id":"769eb333.e18f2c","type":"function","z":"c5a2da5.9ef2b28","name":"","func":"var sTemp = msg.temperatura;\nvar sUmidade = msg.umidade\nmsg1 = {}\n\nvar Objeto = {\n    sTemp,\n    sUmidade\n}\n\nmsg1.payload = Objeto\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":220,"wires":[["f4916786.b95b98"]]},{"id":"f4916786.b95b98","type":"mqtt out","z":"c5a2da5.9ef2b28","name":"","topic":"sensor","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"19c1a9fa.5d9bd6","x":890,"y":220,"wires":[]},{"id":"ba26bc07.7e35f","type":"mqtt in","z":"c5a2da5.9ef2b28","name":"","topic":"sensor","qos":"2","datatype":"auto","broker":"19c1a9fa.5d9bd6","nl":false,"rap":true,"rh":0,"x":670,"y":400,"wires":[["158851f7.2cc6be"]]},{"id":"5dbb8e8b.2e2d7","type":"ui_gauge","z":"c5a2da5.9ef2b28","name":"","group":"73fbe579.c1ec7c","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1350,"y":420,"wires":[]},{"id":"26c52182.31de3e","type":"ui_gauge","z":"c5a2da5.9ef2b28","name":"","group":"73fbe579.c1ec7c","order":1,"width":0,"height":0,"gtype":"gage","title":"Umidade","label":"kg/m³","format":"{{value}}","min":0,"max":"300","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1340,"y":480,"wires":[]},{"id":"158851f7.2cc6be","type":"json","z":"c5a2da5.9ef2b28","name":"","property":"payload","action":"","pretty":false,"x":830,"y":400,"wires":[["37e573db.5289fc"]]},{"id":"37e573db.5289fc","type":"split","z":"c5a2da5.9ef2b28","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"payload.value","x":1010,"y":400,"wires":[["4ebb70f5.3184"]]},{"id":"4ebb70f5.3184","type":"switch","z":"c5a2da5.9ef2b28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"9","vt":"num"},{"t":"eq","v":"120","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":400,"wires":[["5dbb8e8b.2e2d7"],["26c52182.31de3e"]]},{"id":"19c1a9fa.5d9bd6","type":"mqtt-broker","name":"Sensor1","broker":"test.mosquitto.org","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"73fbe579.c1ec7c","type":"ui_group","name":"Teste","tab":"283a1ac2.07dfb6","order":1,"disp":true,"width":"6","collapse":false},{"id":"283a1ac2.07dfb6","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]